.analyze-item{
    &__buy{
        &._active{
            background-color: #00b388;
            border-color: #00b388;
            color: #fff;
            @media (any-hover: hover){
                &:hover{
                    background-color: red;
                    border-color: red;
                }
            }
        }
    }

    &__buy-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}