.base-block{
    &__content{
        margin: auto 0;
    }

}

.notFound{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15px;

    &__icon-warning{
        background: url('../../img/inWork/iconWarningS.png') center no-repeat;
        width: 60px;
        height: 60px;
        font-size: 28px;
        color: #000;
    }
    &__title{
        color: #000;
        font-size: 54px;
        padding: 15px;
        margin-bottom: 15px;
    }
    &__text{
        font-size: 24px;
        color: #000;
        width: 60%;
    }

    &__more{
        margin-top: 30px;
        max-width: 180px;
        background-color: #0FC0FC;
        color: #fff;
        @media (any-hover: hover) {
            &:hover {
              background-color: #0B94C1;
              color: #fff;
            }
        }
    }
}

.page__base{ 
    margin-top: 150px;
    height: 100%;

    @media (max-width: 991.98px){
        margin-top: 80px;
    }
    @media (max-width: 479.98px){
        margin-top: 60px;
    }
}
.wrapper__loaded{
    justify-content: space-between;
}


